<div layout="column" layout-fill>
    <narmar-toolbar></narmar-toolbar>
    <narmar-slideshow hide-xs ng-if="$rootScope.actualURL === '/Main/Home'"></narmar-slideshow>
    <narmar-login-dialog></narmar-login-dialog>
    <div id="viewport"></div>
</div>